name: CDK CI

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test-cdk:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    defaults:
      run:
        working-directory: ./cdk

    steps:
      - uses: actions/checkout@v6

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version-file: ".nvmrc"
          cache: "npm"
          cache-dependency-path: "cdk/package-lock.json"

      - name: Install dependencies
        run: npm ci

      - name: Type check
        run: npm run build

      - name: Lint
        run: npm run lint:ci

      - name: Check formatting
        run: npm run format:ci

      - name: Run tests
        run: npm test

      - name: configure AWS credentials from OIDC
        uses: aws-actions/configure-aws-credentials@v5
        with:
          # 15 minutes aka shortest time allowed
          role-duration-seconds: 900
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: us-west-2

      - name: cdk synth
        run: npm run cdk:synth
        env:
          LOG_LEVEL: INFO
